body {
		background: #262626;
	}
.main-nav

{
	float: right;
	list-style: none;
	margin-top: 30px;

}
.main-nav li

{
	display: inline-block;

}
.main-nav li ul li
{
    display: none;
    padding: 5px;
    float: bottom;
}
.main-nav li:hover  ul li
{
	display:block;
}
.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 12px;
	font-family: "Roboto", "sans-serif";
	font-size: 15px;
	display: inline-block;
}
.main-nav li.active a
{
	border: 1px solid white;
}
.main-nav li a:hover
{
	border: 1px solid white;

}
.box {
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		width: 1110px;
		height: 475px;
		box-shadow: 0 10px 20px black;
		color:white;
		font-family: sans-serif;
		transition: all .5s ease;
	} 
		.canvas {
			background: transparent;
			margin: 0;
			padding: 0;
			color:white;
			transition: all .5s ease;
		} 
		.name {
			background:grey;
			width: 400px;
			height: 50px;
			padding: 10px;
			font-weight: bolder;
			font-family: sans-serif;
		}
		.category {
			line-height: .01;
			color: #3a3a3a;
			font-weight: bold;
		}
		.range {
		   line-height: .01;
			color: white;
			font-weight: bold;	
		}
		p {
			display: inline;
			padding: none;
		}
		.list {
           background: #3a3a3a;
           overflow: auto;
           margin: 0;
           padding: 0;
           width: 500px;
           height: 340px;
           align-items: middle;
		}
		 
		a {
			color: white;
			font-family: sans-serif;
			text-decoration: none;
		}
		img {
			vertical-align: middle;
			transition: .5s ease;
			filter: brightness(80%);
		}
		img:hover {
			width:130px;
			box-shadow: 0 0 30px black;
			filter: brightness(120%);
		}
		span {
			background: url(title.ico);
			width: 100px;
			height: 100px;
		}
		