*
{
	margin: 0;
	padding: 0;
}
header
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/services.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.main-nav

{
	float: right;
	list-style: none;
	margin-top: 30px;

}
.main-nav li

{
	display: inline-block;

}
.main-nav li ul li
{
    display: none;
    padding: 5px;
    float: bottom;
}
.main-nav li:hover  ul li
{
	display:block;
}
.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 15px;
	font-family: "Roboto", "sans-serif";
	font-size: 15px;
	display: inline-block;
}
.main-nav li.active a
{
	border: 1px solid white;
}
.main-nav li a:hover
{
	border: 1px solid white;

} 
#clockbox
{
    margin-top: 9px;
  color:white; 
  font-family: "Roboto", "sans-serif";
}
.logo img
{
	width: 300px;
	height: auto;
	float: left;
	margin-left: 50;
	margin-top: 50;
}
body
{
	font-family: monospace;
}

.hero
{
	position: absolute;
	width: 1200px;
	margin-left: 0;
	margin-top: 0;
}
h1
{
	color: white;
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	margin-top:400px;
	margin-left: 300px;
}
.button
{
	margin-top: 30px;
	margin-left: 560px;
}
.btn
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 15px;
	text-transform: uppercase;

}
.btn-one
{
	background-color: darkorange;
	font-family: "Roboto","sans-serif";
}
.
.btn-two
{
	font-family: "Roboto","sans-serif";
}
.btn-two:hover
{
	background-color: darkorange;
	transition: all 0.5s ease-in;
}
.btn-one:hover
{
	background-color: skyblue;
	transition: all 0.5s ease-in;
}
/*------float icon-------*/
.icons
{
	top: 50%;
		right: 0;
	transform: translatey(-50%);
	position: fixed;
	z-index: 100;
}
.icons ul
{
	padding: initial;
}
.icons ul li
{
	height: 30px;
	width: 25px;
	list-style-type: none;
	padding-left: 12px;
	padding-top: 6px;
	margin-top: 5px;
	/*color: #fff;
	background: #000;/*
   /* padding: 20px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;*/
}
.facebook
{
	background: #3b5998;
	 color: white;
}
.youtube
{
	background: #ff0000;
	 color: white;
}
.linkedin
{
	background: #007bb5;
	 color: white;
}
.twitter
{
	background: #55acee;
	 color: white;
}.instagram
{
	background: #ff4800;
	 color: white;
}
.icons ul li:hover
{
	padding-left: 25px;
	width: 25px;
	transition: 1s; 
}

.ex1 {
	margin-top: -1300px;
	margin-left:5px;
  background-color: white;
  height: 800px;
  width: 250px;
  overflow-y: scroll;
}
.ex1 div
    {
    	font-family: "Roboto","sans-serif";
      background: #2ECC71;
     
      padding: 10px;
      margin: 4px;
      text-align: center;

    }
    .ex1 div:nth-child(odd)
    {
      background: #82E0AA;
      
      padding: 10px;
      margin: 4px;
    }
    .ex1 div a
    {
    color: black;
	text-decoration: none;
	padding: 5px 12px;
	font-family: "Roboto", "sans-serif";
	font-size: 16px;
	
}
.webdesign h3
{
  
  color: #E75F16; 
  font-family: sans-serif;
  text-align: center;
}
.grid-container
		{
			margin-left: 300px;
			margin-top: 25px;
			margin-right:  10px;
			display: grid;
			grid-template-columns:  95%;
		}
		.grid-container div
		{
			background: #eee;
			padding: 5px;
		}
.grid-container h4:after
{
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	border-radius: 2px;
	background-color: #007bff;
	*box-shadow: 
		inset 0 1px 1px rgb(255,255,255), 
		0 1px 1px rgb(255,255,255);

}
.grid-container h4
{
	margin: 1em 0 .6em 0;
	padding: 0 0 0 20px;
	font-weight: normal;
	color: darkorange;
	font-family: 'Hammersmith One', sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	font-size: 50px;
	line-height: 50px;
}
.grid-container h2
{
	margin: 1em 0 .6em 0;
	padding: 0 0 0 20px;
	font-weight: normal;
	color: solid black;
	font-family: 'Hammersmith One', sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	font-size: 30px;
	line-height: 30px;
}
.grid-container h5 {
	margin: 0.8em 0 0.5em 0;
	color: #333;
	font-weight: normal;
	font-family: 'Orienta', sans-serif;
	font-size: 25px;
	line-height: 30px;
	
}
.footerm
{
	background: #E64D44; 
	color: #7F9CA3  ;
	padding:10px; 
	text-align: center;
	font-family: sans-serif;
}
#footer 
{
	margin-top: 550px;
	background: #333;
    color: #fff;
    padding: 12px; 
	text-align: center;
	font-family: sans-serif;
}
.fa-heart-o
{
    margin: 3px;
    color: red;
}


.ex1 div:hover
{
	/*border-right: 2px solid black;*/
	background: #58C8F9;
	font-family: system-ui;
	box-shadow: 0px 0px 200px #000000;
    z-index: 2;
    -webkit-transition: all 150ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 150ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 150ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 150ms ease-in;
    transform: scale(1.2);
}
.ex1 div.active
{
	background-color: #58C8F9;
}

#footer a
{text-decoration: none!important;
    color: #fff!important;}
